.dropdown-container {
    margin: auto;
    margin-top: 20px;
    width: 30%;
    align-items: center;
}

mat-form-field {
    margin: auto;
    width: 100%;
}

.selected-row {
    background-color: #cce5ff;
  }
  