
  <google-map *ngIf="dataService.state$ | async as state" height="50%" width="100%" [center]="state.center" [zoom]="state.zoom">
    <map-marker-clusterer [imagePath]="state.markerClustererImagePath">
        @for (position of state.markerPositions; track position) {
          <map-marker #marker="mapMarker" [position]="position" (mapClick)="openInfoWindow(marker)"/>
        }
        <map-info-window>{{ state.infoWindowContent }}</map-info-window>
      </map-marker-clusterer>
  </google-map>
  
  <div *ngIf="dataService.state$ | async as state">
  <div class="dropdown-container">
    <mat-form-field>
      <mat-label>Choose a highway</mat-label>
      <mat-select
        [(ngModel)]="state.selectedRoad"
        (ngModelChange)="onRoadSelectionChange()"
      >
        <mat-option *ngFor="let road of state.roads; let i = index" [value]="road">{{
          road
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  @if ((state.asyncTabs | async) === null) { Loading tabs... }
  
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <ng-container *ngFor="let tab of state.asyncTabs | async; let i = index">
      <mat-tab>
        <ng-template mat-tab-label>{{ tab.label }}</ng-template>
        <table
          mat-table
          [dataSource]="state.tabDataSources[i]"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
          </ng-container>
  
          <ng-container matColumnDef="subtitle">
            <th mat-header-cell *matHeaderCellDef>Subtitle</th>
            <td mat-cell *matCellDef="let element">{{ element.subtitle }}</td>
          </ng-container>
  
          <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef>Latitude</th>
            <td mat-cell *matCellDef="let element">
              {{ element.coordinate.lat }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef>Longitude</th>
            <td mat-cell *matCellDef="let element">
              {{ element.coordinate.long }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="isBlocked">
            <th mat-header-cell *matHeaderCellDef>isBlocked</th>
            <td mat-cell *matCellDef="let element">{{ element.isBlocked }}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="onRowSelected(row)"
            [ngClass]="{ 'selected-row': row === state.selectedRow }"
          ></tr>
        </table>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
  
</div>